body {
  background-color: #faf4f2;
}

:focus {
  outline: none;
}

.container {
  margin: 0 20px;
}

a {
  text-decoration: none;
  color: #000;
}

.header {
  background-image: url("../image/header.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  border-radius: 0 0 97px 97px;

  &__main {
    padding: 40px 20px 0;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: 640px) {
    .header {
      &__top {
        padding: 40px 40px 0;
      }
    }
  }

  &__burger {
    width: 50px;
    height: 50px;
    background-color: #fff;
    padding: 20px 14px;
    border-radius: 20px;
    position: relative;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #e76f51;
      width: 20px;
      height: 2px;

      &::before,
      &::after {
        content: "";
        position: absolute;
        background-color: #e76f51;
        width: 20px;
        height: 2px;
      }

      &::before {
        top: calc(50% - 6px);
      }

      &::after {
        top: calc(50% + 5px);
      }
    }
  }

  &__title {
    margin-top: 200px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    color: #ffffff;
    text-align: center;
    font-size: 45px;
    line-height: 61px;
    text-transform: uppercase;
  }

  &__text {
    margin: 20px;
    color: #ffffff;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 20px;
  }

  @media (min-width: 768px) {
    .header {

      &__title,
      &__text {
        max-width: 500px;
        margin: 20px auto 0;
      }

      &__title {
        margin-top: 180px;
      }
    }
  }

  &__btn-container {
    margin: 20px auto 0;
    padding-bottom: 269px;
  }

  &__btn {
    border-radius: 105px;
    margin: 0 auto;
  }

  &__btn-link {
    display: block;
    width: 205px;
    height: 50px;
    background-color: #e76f51;
    text-align: center;
    color: #ffffff;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    margin: 0 auto;
    border-radius: 105px;
    line-height: 50px;
  }

  &__login {
    display: none;
  }

  .menu {
    display: none;
  }
}

@media (min-width: 1024px) {
  .header {

    .menu {
      display: block;
      min-width: 700px;
      padding-left: 10px;
      padding-top: 10px;

      &__list {
        display: flex;
        justify-content: space-around;
        align-items: center;

      }

      &__link {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 17px;
        line-height: 28px;
        color: #fff;
        position: relative;
        z-index: 1;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 40%;
          transform: translateX(-50%);
          transform: rotate(45deg);
          transform-origin: 0 0;
          width: 30px;
          height: 3px;
          background-color: #e76f51;
          border-radius: 10px;
          z-index: -1;
          opacity: 0;
          transition: all .4s ease-in-out;
        }
      }

      &__link:hover {
        &::before {
          opacity: 1;
        }
      }
    }

    &__top {
      display: flex;
      justify-content: space-between;
    }

    &__burger {
      display: none;
    }

    &__login {
      display: block;

      &-btn {
        display: block;
        color: #fff;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        width: 100px;
        margin-top: 8px;
        text-align: center;
        opacity: 0;

        &:last-child {
          border: 1px solid #fff;
          height: 40px;
          line-height: 40px;
          border-radius: 15px;
          opacity: 1;
          transform: scale(1);
          transition: all .3s ease-in-out;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}


@media (min-width: 1100px) {
  .header {
    &__login {

      &-container {
        display: flex;
        margin-top: 35px;
        align-items: center;
      }

      &-btn {
        opacity: 1;
      }

    }
  }
}


@media (min-width: 1440px) {
  .header__top {
    margin-left: 150px;
    margin-right: 150px;
  }
}





.card {
  margin-bottom: 0;
  margin-top: -156px;

  &__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__inner {
    max-width: 280px;
    height: 312px;
    border-radius: 20px;
    background-color: #fff;
    margin: 0 auto 20px auto;
  }

  &__body {
    text-align: center;
    padding: 60px 30px;
  }

  &__title {
    font-family: "Archivo", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    margin-top: 20px;
  }

  &__text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 10px;
  }
}

.place {
  margin-top: 100px;
  text-align: center;
  overflow: hidden;
  position: relative;

  &::after {
    content: url("../image/place-shape.png");
    position: absolute;
    bottom: 50px;
    left: -70px;
    z-index: -1;
  }

  &::before {
    content: url("../image/place-shape2.png");
    position: absolute;
    top: 0;
    right: -50px;
    z-index: -1;
  }

  &__title {
    font-family: "Archivo", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    margin-top: 30px;
  }

  &__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-x: hidden;
  }

  &__inner {
    margin: 30px 20px 0;
    min-width: 280px;
    max-width: 300px;
    min-height: 465px;
    background-color: #fff;
    border-radius: 20px;
  }

  &__card {
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 20px;
  }

  &__img {
    height: 180px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin: 0 15px;

    img {
      width: 100%;
    }

    &-price {
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      color: #e76f51;
      background-color: #fff;
      width: 140px;
      height: 50px;
      border-radius: 15px;
      line-height: 50px;
    }

    &-icon {
      position: absolute;
      top: 15px;
      right: 15px;
      background-color: #fff;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      border-radius: 14px;
      color: #e76f51;
      font-size: 23px;

      .fas {
        opacity: 0;
        transform: translateY(-39px);
        transition: all .4s ease-in-out;
      }

      .fas:hover {
        opacity: 1;
      }
    }
  }

  &__card-title {
    margin-top: 43px;
    font-family: "Archivo", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
  }

  &__card-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin: 10px 15px 25px;
  }

  &__card-link {
    display: block;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #8d8d8d;
    background-color: rgba(141, 141, 141, 0.1);
    width: 195px;
    height: 50px;
    margin: 0 auto;
    line-height: 50px;
    border-radius: 30px;
  }

  &__more {
    background-color: transparent;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    border: 2px solid #e76f51;
    color: #e76f51;
    width: 195px;
    height: 50px;
    line-height: 50px;
    border-radius: 30px;
    margin-top: 40px;
    cursor: pointer;
  }
}



@media(min-width: 1024px) {
.place {


  &__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-x: hidden;
    margin: 0 auto;
  }

}


}


.contact {
  margin-top: 102px;
  background-color: #f8e2dd;
  text-align: center;
  padding-bottom: 40px;
  position: relative;
  z-index: 1;
  overflow: hidden;

  &::before {
    content: url("../image/contact-bg.png");
    position: absolute;
    top: 40px;
    left: 0;
    z-index: -1;
  }

  &__img {
    padding-top: 40px;
    max-width: 342px;
    height: auto;
    margin: 0 auto;

    img {
      width: 100%;
    }
  }


  &__title {
    margin-top: 40px;
    font-family: "Archivo", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;
  }

  &__text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    padding: 20px 37px 0;
  }

  &__message {
    margin: 20px auto 0 auto;
    max-width: 334px;
    border-radius: 20px;
    position: relative;

    input {
      width: calc(100% - 30px);
      border: none;
      background-color: rgba(255, 255, 255, 0.8);
      height: 80px;
      border-radius: 20px;
      padding-left: 30px;
      font-size: 20px;
    }

    ::placeholder {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 28px;
    }

    button {
      position: absolute;
      top: 0;
      right: 5px;
      background-color: #e76f51;
      border: none;
      border-radius: 16px;
      width: 50px;
      height: 50px;
      margin-top: 15px;
      cursor: pointer;
    }

    .fa-telegram-plane {
      text-align: center;
      line-height: 50px;
      font-size: 40px;
      color: #fff;
    }
  }
}



@media(min-width: 1024px) {
  .contact {
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 20px;

    &::before {
      content: url("../image/contact-bg.png");
      position: absolute;
      top: -250px;
      left: 250px;
      z-index: -1;
      transform: scale(1.3);
    }
    &__inner {
      display: flex;
      justify-content: space-around;
      align-items: center;
      min-height: 390px;
    }


    &__bottom {
      order: -1;
      width: 50%;
    }
  }
}

.footer {
  margin-top: 100px;
  color: #3b3735;
  background-color: #f8e1db;
  border-radius: 100px 100px 0 0;

  &__btn {
    display: block;
    background-color: #fff;
    border-radius: 15px;
    border: none;
    width: 60px;
    height: 60px;
    font-size: 30px;
    text-align: center;
    line-height: 60px;
    margin: 0 auto;
    transform: translateY(-30px);
  }

  &__btn-link {
    color: #e76f51;
  }

  &__title {
    margin-top: 100px;
    font-family: "Archivo", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
  }

  &__text {
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;

  }

  &__contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  &__info {
    flex-shrink: 0;
    padding-right: 20px;
    width: 50%;
  }

  &__info:first-child {
    padding-right: 20px;
  }

  &__down-title {
    font-family: "Archivo", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    margin-top: 40px;
  }

  &__down-list {
    padding-top: 20px;
  }

  &__down-link {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
  }

  &__app-container {
    margin-top: 20px;
  }

  &__copy {
    padding: 40px 0;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
  }
}

@media (min-width: 768px) {
  .footer {
    &__contact {
      justify-content: space-around;
    }

    &__info {
      flex-shrink: 0;
      padding-right: 0;
      width: auto;
    }

    &__text {
      max-width: 70%;
    }

    &__down-title {
      text-align: center;
    }


    &__app-container {
      text-align: center;
    }
  }
}